<!DOCTYPE html>
<html>
  <head>
    <title>EeveePedia</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="/javascripts/script.js"></script>
  </head>
  <nav>
    <h2><%=title%> </h2><img class="icon" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/eevee-1-674557.png?f=webp&w=128">
    <a href="/pokemons" %>>All Pokemon</a>
    <a href="/pokemons/new"%>>Add Pokemon</a>
    <a href="/"%>>Home Page</a>
    <a href="/"%>>FAQs</a>
  </nav>
  <body>