<!DOCTYPE html>
<html>
  <head>
    <title>EeveePedia</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <h2><%=title%>  | </h2>
    <a href="/pokemons" %>>All Pokemon</a>
    <a href="/pokemons/new"%>>Add Pokemon</a>
    <a href="/"%>>Home Page</a>
    <a href="/"%>>FAQs</a>
  </nav>
  <body>