
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F7F4D3;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0175abf7-30ef-485d-ba79-f390306514eb/dca1aml-c1a38e33-5f55-4b47-8606-2166d1604d90.png/v1/fill/w_1024,h_640,q_80,strp/minimalist___eevee_by_dsolitude_dca1aml-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvMDE3NWFiZjctMzBlZi00ODVkLWJhNzktZjM5MDMwNjUxNGViXC9kY2ExYW1sLWMxYTM4ZTMzLTVmNTUtNGI0Ny04NjA2LTIxNjZkMTYwNGQ5MC5wbmciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.bStPOvJ-QXMTINvdIx9pRSS51dAp4ZPyAcTNv3cKNd4");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: white;
  font-size: 20px;;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

body > nav {
  grid-area: nav;
  background-color: skyblue;
  display: flex;
  padding: 0 20px 0 30px;
}
nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

h1, p {
  margin: 0 auto;
  text-align: center;
}

.intro-homepage {
  margin: 60px auto;
  font-size: 25px;
}

#home-title {
  font-size: 35px;
}

table {
  font-size: 25px;
  margin: 0 auto;
  background-color: gray;
}

table td {
  padding: 12px;
  text-align: center;
  border: solid black;
}

th {
  border: solid black;
  background-color: white;
}


form {
  text-align: center;
  font-size: 22px;
}

#desc-box {
 height: 40px;
 font-size: 20px;
}

#submit-btn {
  font-size: 20px;
  display: inline-block;
  padding: 1.1em;
  text-decoration: none;
  border: 2px solid skyblue;
  background-color: skyblue;
  border-radius: 6px;
  color: black;
  text-align: center;
}
#submit-btn:hover {
  background-color: #FF4747;
}
.home-btns {
  display: flex;
  gap: 18px;
  justify-content: center;
  
}
.btn-home {
  display: inline-block;
  padding: 1.1em;
  text-decoration: none;
  border: 2px solid skyblue;
  background-color: skyblue;
  border-radius: 6px;
  color: black;
  text-align: center;
}


.btn-home:hover {
  background-color: #FF4747;
}

button {
    display: inline-block;
    padding: 1.1em;
    text-decoration: none;
    border: 2px solid skyblue;
    background-color: skyblue;
    border-radius: 6px;
    color: black;
    text-align: center;
  }

button:hover {
  background-color: #FF4747;

}
a {
  color: black;
}

select {
  font-size: 20px;
}

#edit-btn {
  display: inline-block;
  padding: 1.1em;
  text-decoration: none;
  border: 2px solid skyblue;
  background-color: skyblue;
  border-radius: 6px;
  color: black;
  text-align: center;
}

#edit-btn:hover {
  background-color: #FF4747;
}