<%- include("./partials/header") %>

    <h1 class="intro-homepage">EeveePedia</h1>
    <p class="intro-homepage">Create your own Pokedex Entries! (Kanto Region Only) </p>
    <div class="home-btns">
      <a class="btn-home" href = "/pokemons/new">Add Pokemon</a>
      <a class="btn-home" href ="/pokemons">All Pokemon</a>
   </div>
<%- include("./partials/footer") %>