<%- include("./partials/header") %>
    <div class ="title-icon">
    <h1 id="home-title" class="intro-homepage">EeveePedia</h1>
    <!-- <img id = "eevee-icon" src = "https://cdn.iconscout.com/icon/premium/png-256-thumb/eevee-1-674557.png?f=webp&w=128"> -->
    </div>
    <p class="intro-homepage">Create your own Pokedex Entries.</p>
    <div class="home-btns">
      <a class="btn-home" href = "/pokemons/new">Add Pokemon</a>
      <a class="btn-home" href ="/pokemons">All Pokemon</a>
   </div>
<%- include("./partials/footer") %>