<%- include("../partials/header") %>
<br><br><br>
<h1>Add a Pokemon:</h1>
<br><br><br>
    <form id="new-pokemon" action="/pokemons" method="POST">
      <label>Name:
        <select name="pokemonName">
          <option value="Bulbasaur">Bulbasaur</option>
          <option value="Ivysaur">Ivysaur</option>
          <option value="Venusaur">Venusaur</option>
        </select>
      </label>
      <label>Special Ability:
      <input type = "string" name="specialAbility">
      <label>height (cm):
        <input type = "number" name = "height" min="0" max="9999">
      </label>
      <label>weight (kg):
      <input type = "number" name = "weight" min="0" max="9999">
      </label>
      <br> <br><br>
      <label>Gender:
      <select name="gender">
      <option value ="Male">Male</option>
      <option value ="Female">Female</option>
      <option value ="Unknown">Unknown</option>
      </select>
      </label>
      <label>Shiny:
         <select name="isShiny">
            <option value ="false">No</option>
            <option value ="true">Yes</option>
         </select>
     </label>

    <label>Pokemon Type(s): 
        <select id="select-type" name ="pokemonTypes">
        </select>
    </label>
    <label>Description:
        <input id="desc-box" type = "string" name = "description" autocomplete= "off">
    </label>
    <br><br><br>
      <input id = "submit-btn" type = "submit" value="Add Pokemon">
    </form>
<%- include("../partials/footer") %>